In [1]:
import numpy as nd
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# Lending_club_data01.csv

In [4]:
loans = pd.read_csv('lending_club_data01.csv')

In [6]:
loans.head()

,int_rate,installment,open_acc,revol_bal,revol_util,total_acc,bad_loans,grade_num
0,10.65,162.87,3,13648,83.7,9,0,5
1,15.27,59.83,3,1687,9.4,4,1,4
2,15.96,84.33,2,2956,98.5,10,0,4
3,13.49,339.31,10,5598,21.0,37,0,4
4,7.90,156.46,9,7963,28.3,12,0,6

In [7]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1468 entries, 0 to 1467
Data columns (total 8 columns):
int_rate       1468 non-null float64
installment    1468 non-null float64
open_acc       1468 non-null int64
revol_bal      1468 non-null int64
revol_util     1468 non-null float64
total_acc      1468 non-null int64
bad_loans      1468 non-null int64
grade_num      1468 non-null int64
dtypes: float64(3), int64(5)
memory usage: 91.8 KB

In [8]:
loans.tail()

,int_rate,installment,open_acc,revol_bal,revol_util,total_acc,bad_loans,grade_num
1463,6.62,377.66,11,10825,16.1,25,0,6
1464,18.64,360.41,2,564,70.5,19,0,2
1465,16.29,494.21,15,24536,71.7,29,0,3
1466,7.90,500.65,4,404,31.1,12,0,6
1467,15.27,208.79,6,760,69.1,19,0,4

In [9]:
loans['good_loans'] = loans['bad_loans'].apply(lambda y: 'yes' if y==0 else 'no')

In [10]:
loans.head()

,int_rate,installment,open_acc,revol_bal,revol_util,total_acc,bad_loans,grade_num,good_loans
0,10.65,162.87,3,13648,83.7,9,0,5,yes
1,15.27,59.83,3,1687,9.4,4,1,4,no
2,15.96,84.33,2,2956,98.5,10,0,4,yes
3,13.49,339.31,10,5598,21.0,37,0,4,yes
4,7.90,156.46,9,7963,28.3,12,0,6,yes

In [11]:
X = loans.drop(['bad_loans', 'good_loans'], axis=1)

In [12]:
y = loans['good_loans']

In [13]:
print(X.shape, y.shape)

(1468, 7) (1468,)

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
from sklearn.tree import DecisionTreeClassifier

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 124)

In [35]:
print(X_train.shape, X_test.shape)

(1027, 7) (441, 7)

In [36]:
print(y_train.shape, y_test.shape)

(1027,) (441,)

In [37]:
model = DecisionTreeClassifier()

In [38]:
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [47]:
predicition = model.predict(X_test)

In [48]:
from sklearn.metrics import classification_report, confusion_matrix

In [49]:
print(confusion_matrix(y_test, prediction))

[[ 17  50]
 [ 63 311]]

In [50]:
print(classification_report(y_test, predicition))

              precision    recall  f1-score   support

          no       0.21      0.25      0.23        67
         yes       0.86      0.83      0.85       374

    accuracy                           0.74       441
   macro avg       0.54      0.54      0.54       441
weighted avg       0.76      0.74      0.75       441